.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(305, 100%, 21%); }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: lightblue;
}

.card{
    width: 300px;
    margin: 100px auto;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.card-img-top{
    border-radius: 10px;
}
.card-title{
    color: HSL(212, 89%, 24%);
    font-weight: 700;
}
.card-text{
    font-size: 14px;
    color: HSL(220, 15%, 60%);
}